<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename="img/favicon.ico") }}">

  <title>Reminder Tracker</title>
  <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/examples/justified-nav/justified-nav.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

</head>
<body>

  <div class="container">
    <div class="masthead">
      <h3 class="text-muted">Reminder Tracker</h3>
      <nav>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/list">Show Reminders</a></li>
          <li><a href="/add">Add Reminder</a></li>
          <li class="active"><a href="/search">Search</a></li>
          <li><a href="http://ruanbekker.com">About</a></li>
          <li><a href="http://ruanbekker.com/#contact">Contact</a></li>
        </ul>
      </nav>
    </div>


    <div class="jumbotron">
      <p class="lead">Search for Entries based on Description and URL</p>
    </div>

    <form action="/search/results" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder="Search"  autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

<br>
<br>

    <footer class="footer">
      <p>&copy; 2017 Ruan Bekker </p>
    </footer>

  </div>
  </div>
  <script src="{{url_for('static', filename="js/ie10-viewport-bug-workaround.js") }}"></script>
</body>
</html>
